.pagina{
    background-image:url("imagen/IMAGEN FONDO.JPG");
    background-repeat: no-repeat;
     background-size: cover;}


.contenedor{

    display: flex;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    
}

.izquierda{

    width: 70%;
    font-family:'Courier New', Courier, monospace ;
    color: green;
    font-size: 50px;
    padding: 10px;
}

.derecha{

    width: 70%;
    margin: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;


}

.centro{

    width: 50%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;


}

.hobbies {

    text-align: center;
    margin: 90px;
    font-family: cursive;
    font-size: 30px;
    margin-left: 90px;

}
